.DragonAvatar-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.DragonAvatar-image-background {
  position: absolute;
}

.DragonAvatar-image-pattern {
  position: absolute;
}

.DragonAvatar-image-build {
  z-index: 1;
}

.Dragon {
  margin-top: 2rem;
}

.DragonAvatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DragonAvatar--stats {
  display: flex;
  gap: 3rem;
  font-size: 12px;
}
